#!/bin/bash
#SBATCH --job-name=agency_%STAMP%
#SBATCH --output=%LOGPATH%
#SBATCH --error=%LOGPATH%
#SBATCH --time=02:00:00
#SBATCH --cpus-per-task=1
#SBATCH --mem=2G

%PYTHON% %CLIENT_PY% %N% --problem "%PROBLEM_FOLDER%" --stamp %STAMP% --nochat
